# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.DS_Store
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
workspace/*.hex

# Debug files
*.dSYM/
*.su
workspace/ts100/Debug/*
workspace/.metadata/*

workspace/ts100/.settings/language.settings.xml
workspace/ts100/.cproject
TS100/KiCad/TS100.bak
Logo GUI/TS100 Logo Editor/TS100 Logo Editor/obj/
Logo GUI/TS100 Logo Editor/TS100 Logo Editor/bin/
workspace/ts100/ts100.xml
workspace/ts100_old/*
*.cache
workspace/TS100/.settings/language.settings.xml
workspace/TS100A/Release/TS100A.map
workspace/TS100A/Release/TS100A.list
workspace/TS100A/Release/TS100A.hex
workspace/TS100A/.settings/language.settings.xml
workspace/TS100A/.metadata/
