# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.DS_Store
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
workspace/ts100/Debug/*
workspace/.metadata/*

workspace/ts100/.settings/language.settings.xml
