body {
    height: 80%;
    width: 1000px;
    padding: 0;
    background-color: #0C0C0C;
    border-radius: 30px;
    margin: 36px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

html, body {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    color: #CCCCCC;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
}

h1,
h2 {
    font-weight: 200;
    margin: 0.4em 0;
}
h1 {
    font-size: 32px;
}
h2 {
    color: #888;
    font-size: 2em;
}

.title {
    font-size: 32px;
    background-color: #c7c7c7;
    border-radius: 18px 18px 0 0;
    padding: 18px;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-shadow: black 0.05em 0.05em 0.05em
}

.cmd {
    font-size: 24px;
    margin-left: 30px;
}

.icon-switch {
    background-image: url('./asset/off.png');
    background-repeat: no-repeat;
    height: 36px;
    width: 60px;
    background-position: center;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}