name: Docs

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request
  push:
    branches: [dev, docs]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy-docs:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5

      - run: |
          pip install --upgrade pip &&
          pip install mkdocs mkdocs-gen-files pymdown-extensions \
              mkdocs-git-revision-date-plugin mkdocs-autolinks-plugin \
              mkdocs-awesome-pages-plugin

      - run: git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Publish docs
        run: mkdocs gh-deploy -f scripts/IronOS-mkdocs.yml -d ../site
